# -----------------------------
# .dockerignore
# -----------------------------
.venv
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.sqlite
*.db
.git
.gitignore
.gitattributes
.vscode
.ipynb_checkpoints
mlruns/
notebooks/
# ⚠️ Si le modèle est volumineux, assurez-vous que LFS est en place, sinon il sera ignoré

artifacts/*
!artifacts/.gitattributes
!artifacts/best_model.joblib

