langchain
langgraph
langchain-openai
langchain-community
langchain-chroma
langchain-text-splitters
chromadb
tavily-python
numexpr
pypdf
requests
python-dotenv
mlflow
pandas
streamlit==1.*
pandas
boto3
s3fs
altair
